{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block header %}
	<h1>Online Quaker Meetings</h1>
{% endblock %}

{% block main %}	
	<h2>What is this?</h2>
	<p>
		A resource to help Quakers find online meetings to attend and spread the word about ones they may be holding.
	</p>

	<h2>Resources</h2>
	<h3><a href="{{ url_for('find_your_meeting') }} ">Find My Online Meeting</a></h3>
	<p>
		Advice and useful links for finding an online meeting to attend.
	</p>

	<h3><a href="{{ url_for('directory') }}">Directory</a></h3>
	<p>
		A partial directory of Quaker meetings with online attendance.
	</p>

	{% include 'back_to_top.html' %} 
{% endblock %}

{% block footer %}
	<p>
		This website is under active development. More information will be added!
	</p>
	<p>
		For more information or to get your online meeting listed in the directory, email <a href="mailto:clarkseanor+oqmd@google.com">clarkseanor+oqmd@google.com</a> - or if you're more technical go to <a href="https://github.com/cruxicheiros/onlinequakermeetings.com">the GitHub repository</a> and make an issue.
	</p>
	<p>
		This page was last updated on 28 March 2020.
	</p>
	{% include 'back_to_top.html' %}
{% endblock %}

