{% extends 'find_a_meeting/country_specific/base.html' %}

{% block main %}
    <h2>Quakers In Britain listing</h2>
    <p>
        Quakers in Britain provides a <a href="https://www.quaker.org.uk/meetings">search engine and listing</a> for meetings in the UK. You can search by postcode, by the name of a nearby city, or by the name of the meeting house you're looking for.
    </p>
    <p>
        Listings contain contact information for each meeting as well as a link to the meeting's website, if it has one.
    </p>
{% endblock %}
