{% extends 'find_a_meeting/country_specific/base.html' %}

{% block main %}
    <h2>Friends General Conference listing</h2>
    <p>
        The Friends General Conference provides a <a href="https://www.fgcquaker.org/connect/quaker-finder">search engine and listing</a> for meetings in the USA. You can search by zip code, distance from a zip code, and by meeting name. They also provide a <a href="https://www.fgcquaker.org/connect/quaker-finder/quaker/states">list of meetings by state.</a>
    </p>
    <p>
        Listings contain contact information for each meeting as well as a link to the meeting's website, if it has one.
    </p>
{% endblock %}


{% block footer %}
    <p>
        This website is in active development. Think something's missing? Email it to <a href="mailto:clarkseanor+oqmd@gmail.com">clarkseanor+oqmd@gmail.com</a>.
    </p>
	<p>
		This page was last updated on 28 March 2020.
	</p>
	{% include 'back_to_top.html' %}
{% endblock %}
