{% extends 'find_a_meeting/country_specific/base.html' %}

{% block main %}
    <h2>Australia Yearly Meeting listing</h2>
    <p>
        Australia Yearly Meeting provides a <a href="https://www.quakersaustralia.info/organisation/local-meetings">listing</a> for meetings in Australia. It includes a map and a list of meetings by region, as well as links to specifically-online meetings.
    </p>
    <p>
        Listings contain contact information for each meeting as well as a link to the meeting's website, if it has one. Many meetings are marked as 'not meeting face-to-face for the time being' and contain information about how to join online meetings.
    </p>
{% endblock %}

{% block footer %}
    <p>
        This website is in active development. Think something's missing? Email it to <a href="mailto:clarkseanor+oqmd@gmail.com">clarkseanor+oqmd@gmail.com</a>.
    </p>
	<p>
		This page was last updated on 28 March 2020.
	</p>
	{% include 'back_to_top.html' %}
{% endblock %}
